footer {
	padding-bottom: 75px;

	@media (max-width: $displayWidthLg) {
		padding-bottom: 55px;
	}

	@media (max-width: $displayWidthMd) {
		padding-bottom: 35px;
	}

}

.footer {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	.left {
		display: flex;
		align-items: center;
		gap: 100px;

		.company-text {
			font-weight: 700;
			font-size: 14px;
			color: $text-deep-color;
		}

	}

	.right {
		.follow-us {
			position: relative;
			padding-right: 40px;
			font-weight: 700;
			font-size: 16px;
			color: $text-main-color;
			cursor: pointer;

			&:before {
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				background-image: getFollowIcon();
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				transition: all $transition-fast;
			}
		}

	}

	.social-wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		transform: translateY(28px);
		transition: all $transition-fast;
		position: relative;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
		}

		.socials {
			margin: 0;
			display: flex;
			align-items: center;
			gap: 30px;
			margin-top: 10px;

			&_item {
				transition: all $transition-fast;
				transform: scale(0);
				opacity: 0;

				a {
					color: $text-main-color;
					font-size: 14px;
					font-weight: 600;
					line-height: 40px;
				}

			}

		}

		&:hover {
			transform: translateY(0);

			&:before {
				width: 130%;
				height: 200%;
			}

			.follow-us {
				padding-right: 0;

				&:before {
					transform: translateY(-50%) scale(0);
				}
			}

			.socials {

				&_item {
					transform: scale(1);
					opacity: 1;
				}

			}
		}

	}

	a.hashtag-ukr, .hashtag-ukr {
		font-weight: 600;
		font-size: 14px;
		color: $text-main-color;
		position: relative;
		padding-left: 50px;

		&:after {
			content: '';
			position: absolute;
			background-image: getUkrFlagIcon();
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 40px;
			height: 25px;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}

	}

	@media (max-width: $displayWidthMd) {

		.right {
			display: none;
		}

		.social-wrap {
			transform: translateY(28px);
		}

	}

}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.7);
	z-index: $zindex-small;
	opacity: 0;
	transition: opacity $transition-fast;
	pointer-events: none;

	&.active {
		opacity: 1;
		pointer-events: auto;
	}

}