.wpcf7-form {
	width: 750px;
	max-width: 100%;
	margin-top: 75px;
}

.wpcf7-form * {
	appearance: none;
}

.wpcf7-form input:not([type='submit']), .wpcf7-form textarea, .wpcf7-form select {
	color: $text-main-color;
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	background-color: $theme-bg-color;
	border: none;
	border-bottom: 1px solid #939393;
	width: 100%;
}

.wpcf7-form input::placeholder, .wpcf7-form textarea::placeholder {
	color: $text-main-color;
}

.wpcf7-form textarea {
	resize: vertical;
	height: 50px;
}

.wpcf7-form input:not([type='submit']), .wpcf7-form select {
	padding-bottom: 30px;
	margin-bottom: 20px;
}

.wpcf7-form input[type='submit'] {
	margin-top: 20px;
}

.wpcf7-form .wpcf7-spinner {
	display: none!important;
}

.wpcf7-form .wpcf7-response-output {
	display: none!important;
}