.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;

	.logo {
		img {
			@media (max-width: $displayWidthLg) {
				width: 110px;
				height: auto;
			}

			@media (max-width: $displayWidthMd) {
				width: 70px;
				height: auto;
			}
		}
	}

	.header_menu {

		.menu {
			display: flex;
			align-items: center;
			margin: 0;
			gap: 45px;


			.menu-item {
				position: relative;
				padding: 15px 0;
				transition: padding $transition-fast;

				a {
					text-transform: uppercase;
					font-weight: 700;
					font-size: 14px;
					color: $text-main-color;
				}

				&.hashtag-ukr {

					a {
						padding-left: 40px;
						position: relative;

						&:after {
							content: '';
							position: absolute;
							background-image: getUkrFlagIcon();
							background-position: center;
							background-repeat: no-repeat;
							background-size: contain;
							height: 20px;
							width: 30px;
							top: 50%;
							left: 0;
							transform: translateY(-50%);
						}
					}

				}

			}


			.sub-menu {
				position: absolute;
				top: 100%;
				left: 0;
				margin: 0;
				background: #F5F5F5;
				transform: translateY(50px);
				transition: all $transition-fast;
				pointer-events: none;
				visibility: hidden;
				opacity: 0;
				z-index: $zindex-small;

				&.active {
					transform: translateY(0px);
					pointer-events: auto;
					visibility: visible;
					opacity: 1;
				}

				.menu-item {
					padding: 10px;

					a {
						text-transform: initial;
						font-weight: 500;
						font-size: 14px;
						color: $text-dark-color;
						white-space: nowrap;
					}

				}
			}

		}

	}

	#mob-menu {
		transform: translateX(150%);
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		width: auto;
		height: 100vh;
		background: #fff;
		z-index: $zindex-middle;
		overflow-y: auto;
		transition: transform $transition-fast;

		.header_mob_menu {
			.menu {
				margin: 0;
				display: flex;
				flex-direction: column;

				.menu-item {
					position: relative;
					padding: 20px;
					border-bottom: 1px solid #E8E8E8;
					transition: padding 0s ease;

					&:last-child {
						border-bottom: none;
					}


					a {
						text-transform: uppercase;
						font-weight: 700;
						font-size: 14px;
						color: $text-dark-color;
					}

					&.hashtag-ukr {

						a {
							padding-left: 40px;
							position: relative;

							&:after {
								content: '';
								position: absolute;
								background-image: getUkrFlagIcon();
								background-position: center;
								background-repeat: no-repeat;
								background-size: contain;
								height: 20px;
								width: 30px;
								top: 50%;
								left: 0;
								transform: translateY(-50%);
							}
						}

					}

					.sub-menu {
						margin: 0;

						.menu-item {
							padding: 10px 20px;
							border-bottom: none;
						}
					}

					&.menu-item-has-children {

						.sub-menu {
							display: none;
						}

						& > a {
							position: relative;
							display: block;
							width: 100%;

							&:before {
								content: '';
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								right: 0;
								background-image: getArrowDownIcon();
								background-repeat: no-repeat;
								background-size: auto;
								background-position: center;
								width: 30px;
								height: 30px;
							}

						}

						&.active {
							.sub-menu {
								display: block;
								margin-top: 10px;
							}
						}

					}


				}

			}

		}

		.socials {
			display: flex;
			flex-direction: column;
			margin: 0;
			gap: 15px;
			padding: 20px;

			a {
				font-weight: 500;
				font-size: 14px;
				color: $text-dark-color;
			}
		}

		&.active {
			transform: translateX(0);
		}
	}

	.menu_open_btn {
		display: none;
		align-items: center;
		gap: 10px;
		cursor: pointer;

		.text {
			font-weight: 700;
			font-size: 16px;
			color: $text-main-color;
			text-transform: uppercase;
		}

		.lines {
			position: relative;
			width: 25px;
			height: 20px;

			.line {
				width: 100%;
				height: 2px;
				background-color: $text-main-color;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				transition: transform $transition-fast;
			}

			&:before {
				content: '';
				width: 100%;
				height: 2px;
				background-color: $text-main-color;
				position: absolute;
				top: 0;
				left: 0;
				transition: transform $transition-fast;
			}

			&:after {
				content: '';
				width: 100%;
				height: 2px;
				background-color: $text-main-color;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: transform $transition-fast;
			}

		}

		&:hover {
			.lines {
				.line {
					transform: translateX(10px) translateY(-50%);

					@media (max-width: $displayWidthSm) {
						transform: translateX(5px) translateY(-50%);
					}
				}

				&:before {}

				&:after {}
			}
		}

	}

	@media (max-width: $displayWidthXl) {
		.header_menu {
			display: none;
		}

		#mob-menu {
			display: block;
		}

		.menu_open_btn {
			display: flex;
		}

	}

}