section.first {
	margin-bottom: 90px;

	@media (max-width: $displayWidthMd) {
		margin-bottom: 50px;
	}

	.text_content, .text_content a {
		color: $text-main-color;
	}

	.text_content a {
		text-decoration: underline;
		cursor: pointer;
		font-style: italic;
	}

}